<section class="closing">
  <img src="images/making-of.png" alt="" class="closing__bg" aria-hidden="true" draggable="false" />
  <div class="closing__rings" aria-hidden="true">
    <div class="closing__ring"></div>
    <div class="closing__ring"></div>
    <div class="closing__ring"></div>
  </div>
  <div class="closing__content">
    <div class="closing__eyebrow">Commission Yours</div>
    <h2 class="closing__headline">
      We Simply Provide<br>The Canvas Worthy<br>Of Your <em>Masterpiece</em>
    </h2>
    <p class="closing__sub">krohnstandard.com</p>
    <div class="closing__actions">
      <button type="button" class="btn-primary" (click)="openCommissionModal()">Begin Commission</button>
      <!-- <a href="#collection" class="btn-secondary">View Collection</a> -->
    </div>
  </div>
</section>
