<div #panel class="mp">

  <div class="mp__left">
    <span class="mp__eyebrow">Materials</span>
    <h2 #headline class="mp__headline">
      <span class="mp__line-wrap"><span class="mp__line">Sourced slowly.</span></span>
      <span class="mp__line-wrap"><span class="mp__line">Finished by hand.</span></span>
    </h2>
  </div>

  <div class="mp__grid" aria-hidden="true">
    <div class="material" data-tone="gold">
      <div class="material__img-wrap">
        <img src="images/materials/gold.png" alt="" class="material__img" draggable="false" />
      </div>
      <span>18k Gold</span>
    </div>
    <div class="material" data-tone="leather">
      <div class="material__img-wrap">
        <img src="images/materials/black-leather.png" alt="" class="material__img" draggable="false" />
      </div>
      <span>Black Leather</span>
    </div>
    <div class="material" data-tone="stone">
      <div class="material__img-wrap">
        <img src="images/materials/plain-color.png" alt="" class="material__img" draggable="false" />
      </div>
      <span>Plain Color</span>
    </div>
    <div class="material" data-tone="ceramic">
      <div class="material__img-wrap">
        <img src="images/materials/snake-leather.png" alt="" class="material__img" draggable="false" />
      </div>
      <span>Snake Leather</span>
    </div>
  </div>

</div>
