:host {
  display: block;
}

.scenes {
  display: flex;
  height: 100vh;
  will-change: transform;
}

.panel {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}
