<div class="cp-comm">

  <div class="cp-comm__center">
    <img src="/images/KROHN.svg" alt="KROHN" class="cp-comm__logo" />

    <h2 #heading class="cp-comm__heading">Commission<br>Yours.</h2>

    <p #sub class="cp-comm__sub">
      A private brief begins every piece.<br>By appointment, worldwide.
    </p>

    <a #cta href="mailto:atelier@krohnstandard.com" class="cp-comm__btn">
      Begin a Conversation
      <span class="cp-comm__btn-arrow">&#8594;</span>
    </a>
  </div>

  <footer class="cp-comm__footer">
    <span class="cp-comm__copy">&copy; {{ year }} KROHN &middot; Made by hand.</span>
    <div class="cp-comm__links">
      <a href="mailto:atelier@krohnstandard.com">atelier&#64;krohnstandard.com</a>
      <a href="#" rel="noopener">Instagram</a>
      <a href="#" rel="noopener">Journal</a>
    </div>
  </footer>

</div>
